*, :after, :before {
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat, serif, roboto; 
    box-sizing: border-box;
    overflow: hidden;
}
main{
    position: relative;
    min-height: 100vh; 
    z-index: 1;
}
fieldset {
    border-radius: .8rem;
    border: 2px dashed rgba(68, 68, 68, .5);
    margin: 15px;
    padding: 10px;
    text-align: center;
}
.divbtn {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
    border: 2px solid rgba(188, 201, 201,.5);
    box-shadow: -2px 0px 10px 1px black;
    font-weight: bolder;
    font-size: 1.2rem;
} 

/* vvvv   ASIDE    vvvv */
aside{
    background: rgb(235, 189, 189);
    transition: .2s;
    position: fixed;
    width: 250px;
    min-height: 400px;
    transform: translateY(-50%);
    top: 50%;
    padding: 5px 10px 0px 0px;
    border: 2px solid black;
    border-radius: 2px 10px 10px 2px;
    box-shadow: -2px 0px 10px 1px black;
    margin-left: -1px;
    transition: all .5s ease;
    z-index: 3;
}  

.aside-hide {
    margin-left: -240px;
}
.aside-hide:hover {
    margin-left: -230px;
}
aside fieldset {
    margin: 20px;
    padding: 10px 10px 10px 10px;
}
    aside fieldset:before{
        font-size: 1.2rem;
        z-index: 3;
        background-color: rgb(235, 189, 189) ;
        padding: 2px 10px;
    }
        .fiel-add:before{
            content: 'Добавить';
            position: relative;
            top: -20px;
            left: 40px;
        }
        .fiel-search:before{
            content: 'Поиск';
            position: relative;
            top: -20px;
            left: 57px;
        }
aside input, aside textarea, #i-izdelie {
    border-radius: .2rem;
}

.addtask {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
}
    .addtask .add-button {
        width: 80px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(185, 185, 185);
    }

.aside .search{
    display: flex;
    flex-direction: column;
}
    aside textarea {
        resize: none;
        height: 3rem;
    }/*
    aside input[type=date] {

    }*/
    .search-izdelie {
        display: flex;
        flex-direction: column;
    }
        .search-izdelie div{
            display: flex;
            justify-content: space-around; 
        }
            .search #i-izdelie {
                width: 85%;
            }
        .search .izd-add {
            padding: 2px 4px 1px;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
        }

.aside-arrow{
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 3px;
    border-radius: 5px 10px 10px 5px;
}
    

/* ^^^^   ASIDE    ^^^^ */

header {
    grid-column: 1/-1;
    color: rgb(247, 213, 194);
    background: rgb(13, 61, 45);
    padding: 5px 5px 5px 15px;
}


/*  vvvv MODAL NEW TASK   vvvv   */

.modal-newtask-container {
    position: absolute;
    top : 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 4;
}
    .modal-newtask {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 300px;
        border: 2px solid black;
        border-radius: 0.8rem;
        background-color: rgb(179, 212, 245);
        padding: 10px;
        text-align: center;
        box-shadow: -2px 0px 10px 1px black;
        opacity: 0.8;
    }
    .modal-newtask fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
        .modal-newtask .newtask-hf{
            font-size: 1.2rem;
            z-index: 5;
            background-color: rgb(179, 212, 245) ;
            padding: 2px 0px;
        }
            .field-modalinputs .newtask-hf{
                position: relative;
                top: -20px;
                left: 100px;
                width: 50%;
            }
        .modal-newtask input , textarea{
            margin-bottom: 10px;
            width: 100%;
            border-radius: .2rem;
        }
        .modal-newtask textarea{
            resize: none;
            height: 5em;
        }
    .field-modalbtn>div{
        display: flex;
        justify-content: space-around
    }
        .field-modalbtn .btn-ok, .field-modalbtn .btn-cancel  {
            width: 40%;
            border-radius: 0.3rem;
        }

/*  ^^^^ MODAL NEW TASK   ^^^^   */

/* vvvv vvvv STICK AREA vvvv vvvv*/

.stick-area {
    background: rgb(241, 241, 185);
    z-index : 2;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

    .task-container{
        border: 2px dashed  rgba(68, 68, 68, .5);
        border-radius: 0.8rem;
        display: flex;
        margin-bottom: 20px;
        position: relative;
        opacity: 0.7;
        transition: all 0.3s ease;
        flex-shrink: 0;
        transform: scale(0.95, 0.95);
    }
    .task-container:hover{
        opacity: 1;
        transform: scale(1.05);
    }
    .stick-container{
        display: flex;
        margin: 20px;
        margin-right: -5px;
        transition: all 0.8s ease-out;
    }
    .stick-container:hover .stick{
        border-color: rgba(0,0,0,1);
    }
    .stick{
        background-color: rgb(202, 248, 196);
        width: 200px;
        height: 200px;
        border: 2px solid rgba(0,0,0,.5);
        border-radius: .8rem .8rem .8rem 0.8rem;
        padding: 5px;
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        z-index: 1;
    }
    .stick .left-half{
        display: flex;
        flex-direction: column;
    }
    .stick .right-half{
        text-align: end;
    }
     .stick .stc-row{
         border-bottom: 2px solid rgba(5, 34, 12, 0.2);
     }
     .stick .stc-row:last-child{
        border-bottom: 0px solid rgba(5, 34, 12, 0.2);
    }
        .stick .row1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
            .stick .row1 .stick-date {
                font-size: .8em;
            }
            .stick .row1 .stick-izd {
                font-size: 1.2em;
            }
        .stick .row3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
.task-plus {
    height: 210px;
    width: 20px;
    padding-left: 0.8rem;
    background-color:rgb(140, 172, 136);
    border: 2px solid black;
    border-left: 0;
    border-radius: .0rem .8rem .8rem .0rem;
    opacity: 0.4;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    position: relative;
    left: -35px;
    transition: all 0.8s ease-out ;
    display: flex;
    z-index: 0;
}
    .stick-container:hover{
        margin-right: 15px;
    }
    .stick-container:hover .task-plus{
        left: -0.8rem;
        position: relative;
        cursor: pointer;
    }
/* ^^^^ ^^^^ STICK AREA ^^^^ ^^^^*/

.non-opacity {
    opacity: 1;
}
